

<form>
search vehicle:

<input type ="text" name="query"  value="<%=@query %>"/>
<input type ="submit"  value="model" />
</form>

</br>

<% if @vehicles %>
 <% @vehicles.each do |vehicle| %>
<p> <%= str=vehicle.model.upcase %> </p>
 
 
<% end %> 
<% end %>