



<form>
make:

<input type ="text" name="query" />
 
model:
<input type ="text" name="query" />
<input type ="submit"  value="search" />
</form>

</br>

<% if @vehicles %>
 <% @vehicles.each do |vehicle| %>
 <p><%= vehicle.make or model %></p>
 
 

 
 
<% end %>
<% end %>