



<form>
make:

<input type ="text" name="query" />
 
model:
<input type ="text" name="query2" />
<input type ="submit"  value="search" />
</form>

</br>

<% if @vehicles %>
 <% @vehicles.each do |vehicle| %>
 <p><%= vehicle.make %></p>
 <p> <%= vehicle.model %> </p>
 

 
 
<% end %>
<% end %>